---
layout: default
---

<div class="home">

  <h1 class="page-heading">Available Commands By Platform</h1>

  <table>

    <thead>
      <tr>
        <th>Command</th>
        <th colspan="{{ site.data.boxes | size }}"></th>
      </tr>
    </thead>

    <tbody>
    {% for section in site.data.cmd-support %}
      <tr>
        {% assign section_name = section[0] %}
        <th>{{ section_name }}</th>
        {% for box in site.data.boxes %}
          {% assign box_name = box[0] %}
          <th>{{ box_name }}</th>
        {% endfor %}
      </tr>

      {% for command in section[1] %}
      <tr>
        <td>{{ command["command"] }}</td>
        {% for box in site.data.boxes %}
        {% assign box_name = box[0] %}
        <td>{{ command[box_name] }}</td>
        {% endfor %}
      </tr>
      {% endfor %}

    {% endfor %}
    </tbody>

  </table>

</div>
