---
layout: default
---

<div class="home">

  <h1 class="page-heading">Available Commands By Platform</h1>

  {% for section in site.data.cmd-support %}
  {% assign section_name = section[0] %}
  <h4>{{ section_name }}</h4>
  <table class="portable-support">
    <thead>
      <tr>
        <th></th>
        {% for box in site.data.boxes %}
          {% assign box_name = box[0] %}
          <th class="platform">{{ box_name }}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>

      {% for command in section[1] %}
      <tr>
        <td class="command"><tt>{{ command["command"] }}</tt></td>

        {% for box in site.data.boxes %}
        {% assign box_name = box[0] %}

        {% case command[box_name] %}
        {% when 'no' %}
        <td class="unsupported">
        {% else %}
        <td class="supported">
        {% endcase %}

          {{ command[box_name] }}

        </td>

        {% endfor %}
      </tr>
      {% endfor %}

    </tbody>
  </table>
  {% endfor %}
</div>
